@charset "utf-8 ";

*{
    margin: 0px;
    padding:0px;
}
body{
   width: 100vw;
   height: 100vh;
   background-color: black;
}
main {
    width: 100vw;
    height: 100vh;
    background: url(../imagem/pexels-splitshire-1599.jpg) no-repeat ;
    background-size: cover;
    position: relative;
}
section{

}